__pycache__/*
.github/workflows/ci-tests.yml.orig
data/processed/*
data/raw/housing-prices-35.csv
mlruns/*
models/preprocessor.b
scripts/__pycache__/*
tests/__pycache__/*
mlflow.db
05-monitoring/
04-deployment/